
.DS_Store
.ipynb_checkpoints
.metaflow/
vg-venv/

scratchpad.ipynb

secrets.yml
# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
__pycache__/

# Produced data types
*.npy
*.tif
*.keras
*.json
*.gpkg
*.parquet
