
.DS_Store
.ipynb_checkpoints
.metaflow/
vg-venv/
!vg-venv/.gitkeep

tmp/
!tmp/.gitkeep

scratchpad.ipynb

secrets.yml

*.pyc
*.pyo
__pycache__/
vectorgeo.egg-info/

*.png

# Produced data types
*.npy
*.tif
*.keras
*.json
*.gpkg
*.parquet
*.zip