boto3
botocore
faiss-cpu
fire
flake8
geocoder
geojson
geopandas
h3
hdbscan
ipykernel
joblib
jupyter
keras
line_profiler
matplotlib
memory_profiler
metaflow
more_itertools
multiprocess
numpy
openai
pinecone-client
pip
plotly
plotnine
pyarrow
pydeck
pylint
pytest
pyyaml
rasterio
rasterstats
rtree
s3fs
scikit-image
scikit-learn
seaborn
snowflake-connector-python
sqlalchemy
tabula-py
tabulate
tenacity
tensorflow
toml
umap-learn
geocoder
more_itertools
multiprocess
qdrant-client
rtree
snowflake-connector-python
toml
torch
torchvision
torchaudio
watchdog
wheel
xarray



