aws_access_key_id: XXXXXXXXXXXXXXXXXX
aws_secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
lambdalabs_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXX

aurora_url: XXXXXXXXXXXXXXXXXX.XXXXXXXXXX.XXXXXXXXXX.XXXXXXXXXX
aurora_password: XXXXXXXXXX
aurora_user: XXXXXXXXXX
aurora_db: XXXXXXXXXX

git_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
